* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "funsized";
  src: url('../_fonts/FunSized.ttf') format('truetype');
}

@font-face {
  font-family: "custom";
  src: url("../_fonts/LemonMilk.otf");
}

@font-face {
  font-family: "custom2";
  src: url("../_fonts/Urban.ttf") format("truetype");
}

@font-face {
  font-family: "custom3";
  src: url("../_fonts/Champagne & Limousines.ttf") format("truetype");
}

@font-face {
  font-family: "custom4";
  src: url("../_fonts/code bold.otf") format("truetype");
}

@font-face {
  font-family: "custom5";
  src: url("../_fonts/GeosansLight-Oblique.ttf") format("truetype");
}

@font-face {
  font-family: "custom6";
  src: url("../_fonts/CaviarDreams_Bold.ttf") format("truetype");
}


h1 {
  font-family: "funsized", sans-serif;
  font-size: 4.7em
}

.about h1, .contact h1 {
  color: white;
}

h2 {
  font-family: "custom3";
  color: red;
  font-size: 2.6em;
}

.introName h1 {
  font-family: custom;
  color: #AD353A;
  position: relative;
  top: 130px;
  text-shadow: 1px 1px black;
}

.resume {
  width: 200px;
  background-color: ;
  font-family: custom2;
  font-size: 20px;
  border: solid 3px yellow;
  text-align: center;
  margin: auto;
  position: relative;
  top: 230px;
  padding-top: 15px;
  border-radius: 30px;
}

.resume a {
  color: yellow;
}

.resume a:hover {
  color: yellow; 
}

.resume:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.about a {
  font-family: "custom2";
  color: black;
}

.projects a {
  font-family: "custom2";
  color: black;
}

.contact a {
  font-family: "custom2";
  color: black;
}

.intro {
  width: 100%;
  /*background-image: url(../_images/space_bg.jpg);
  background-color: rgba(255 ,255 , 255, 0.5);
  background-repeat: no-repeat;
  background-size: cover;*/
  height: 750px;
  z-index: 2;
  opacity: 0.
}

.intro::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url('../_images/laptop.jpg');
  opacity: .92;
  content: "";
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 750px;
  filter: brightness(80%);
}

.container {
  width: 1000px;
  z-index: 2;
  margin: auto;
}

ul {
  width: 1000px;
  position: relative;
  top: 180px;
  display: table;
  border-spacing: 40px 0px;
  margin: auto;

}

li {
  display: table-cell;
  width: 200px;
  height: 70px;
  padding: 10px;
  text-align: center;
  background-color: ;
  vertical-align: middle;
  font-family: custom6;
  color: #AD353A;
  font-size: 1.6em;
  border: solid 2px white;
  border-radius: 20px;
  transition-duration: 2s;
}

li a {
  color: white;
  text-shadow: 1px 1px black;
}

li a:hover {
  color: white;
}

li:hover {
  background-color: #AD353A;
  color: white;
  transition-duration: 2s;
}

p a {
  color: white;
  text-shadow: 1px 1px black;
}

/*make li blocks same width and height as the table cells & make it vertical
@media screen and (max-width: 1000px) {
  .container {
    width: 1000px;
    z-index: 2;
    margin: auto;
  }
  ul {
    width: 1000px;
    position: absolute;
    top: 560px;
    display: table;
    border-spacing: 40px 0px
  }
  li {
    display: inline-block;
    width: 200px;
    height: 70px;
    padding: 10px;
    margin-left: 100px;
    text-align: center;
    background-color: aliceblue;
    vertical-align: middle;
  }
  #li1 {
    margin-left: 0px;
  }
}*/

/* Subject Containers */

#aboutCol1 {
  background-color: #AD353A;
  height: 1600px;
}

.callout {
  /*background-color: #AD353A;*/
  /*#FBD10F*/
  background-color: #AD353A;
  border-color: #AD353A;
  text-align: center;
  margin-top: 300px;
}

/* make media query to change margin-top or make display: 'hidden' */
.aboutSbottom {
  background-color: #AD353A;
  text-align: center;
  margin-top: 700px;
}

#aboutCol2 {
  background-color: antiquewhite;
  height: 1600px;
}

#projectCol1 {
  background-color: antiquewhite;
  height: 750px;
}

.projectScroll {
  text-align: center;
  margin-top: 300px;
}

.projectSbottom {
  text-align: center;
  margin-top: 1130px;
}

#projectCol2 {
  height: 750px;
}

#contactCol1 {
  background-color: #AD353A;
  height: 100vh;
}

.contactScroll {
  margin-top: 300px;
  text-align: center;
}

#contactCol2 {
  background-color: antiquewhite;
  height: 100vh;
}

/* About Content */

#aboutIntro {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: left;
}

.about h2 {
  margin-top: 60px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-family: custom6;
  color: black;
  font-size: 2.7em;
  font-weight: bold;
  word-spacing: 6px;
}

.about img {
  width: 100px;
  display: block;
  margin: auto;
}

#aboutImg1 {
  margin-top: 40px;
}

.about h3 {
  text-align: center;
  margin: 20px;
  font-family: custom3;
  color: red;
  font-weight: bold;
}

.about p {
  width: 60%;
  margin: auto;
  text-align: center;
  margin-bottom: 60px;
  color: dimgray;
}

/* Project Content */

#gotwoodH {
  width: 104%;
  text-align: center;
  margin: auto;
  position: relative;
  top : 150px;
  color: black;
  font-family: custom4;
  font-size: 2.3em;
  font-weight: bold;
  letter-spacing: 1px;
  font-weight: ;
  z-index: 1;
}

.projects p {
  width: 50%;
  position: relative;
  
}

.projects button {
  width: 120px;
  padding: 4px;
  text-align: center;
  /*margin: auto;*/
  position: absolute;
  top : 330px;
  left: 320px;
  color: black;
  font-family: custom3;
  font-size: 1.6em;
  font-weight: bold;
  border: solid 2px black;
  border-radius: 20px;
  z-index: 2;
  background-color: indianred;
  transform: scale(1);
  transition-duration: 1s;
}

.projects button:hover {
  background-color: bisque;
  transition-duration: 1s;
}

.gotwoodPJ {
  margin-right: 0px;
  padding: 0px;
  width: 104%;
  height: 750px;
  border: 1px 1px white;
  /*margin-left: -15px;
  margin-right: -15px;*/
  margin-top: -169px;
  z-index: 1;
  overflow: hidden;
}

.gotwoodBG {
  width: 100%;
  height: 100%;
  background-image: url(../_images/kitchen-2400367_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation-direction: reverse;
  -webkit-transform: scale(1);
  -webkit-transition-delay: .2s;
  -webkit-transition-duration: 5s;
}

.gotwoodBG:hover {
  opacity: 0.85;
  -webkit-transform: scale(1.2);
  -webkit-transition-delay: .2s;
  -webkit-transition-duration: 5s;
  -moz-transform: scale(1.2);
  -moz-transition-delay: .2s;
  -moz-transition-duration: 5s;
  width:100%;
  z-index: -2;
}

/* Contact content */
  
.contact h2 {
  font-family: custom6;
  font-weight: bold;
  text-align: center;
  margin: 30px;
  color: black;
}

.contact p {
  font-family: custom3;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.contact h3 {
  margin-top: 30px;
  margin-left: 10px;
  font-size: 25px;
  font-family: custom5;
  color: dimgray;
}

#phone {
  margin-top: 60px;
}

.contact img {
  width: 70px;
  margin: 30px 10px;
}

/* link underline animation */

.about h4, .contact h4, .about h4 a, .contact h4 a {
  color: white;
}

.projects h4, .projects h4 a {
  color: black;
}

.about h4 a:hover, .contact h4 a:hover {
  border-bottom: solid 2px white;
}

.projects h4 a:hover {
  border-bottom: solid 2px black;
}

/*project see more animation */

/*.noscroll { overflow: hidden; }

.overlay { 
   position: fixed; 
   overflow-y: scroll;
   top: 0; right: 0; bottom: 0; left: 0; }

[aria-hidden="true"] { display: none; }
[aria-hidden="false"] { display: block; }

.overlay div {
   margin: 0px;
   width: 100%;
   max-width: 100%;
   padding: 0px;
   min-height: 200vh;
   background: rgba(255,255,255, .95);
}
.overlay {
    background:  rgba(40,40,40, .75);
}*/

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(225,225,225, 1);
    overflow-y: scroll;
    transition: 0.5s ease-out;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}










