* {
  margin: 0;
  padding: 0;
}

.intro {
  width: 100%;
  background-image: url(../_images/space_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  z-index: 1;
}

.container {
  width: 1000px;
  z-index: 2;
  margin: auto;
}

ul {
  width: 1000px;
  position: absolute;
  top: 560px;
  display: table;
  border-spacing: 40px 0px
}

li {
  display: table-cell;
  width: 200px;
  height: 70px;
  padding: 10px;
  text-align: center;
  background-color: aliceblue;
  vertical-align: middle;
}

/*make li blocks same width and height as the table cells & make it vertical
@media screen and (max-width: 1000px) {
  .container {
    width: 1000px;
    z-index: 2;
    margin: auto;
  }
  ul {
    width: 1000px;
    position: absolute;
    top: 560px;
    display: table;
    border-spacing: 40px 0px
  }
  li {
    display: inline-block;
    width: 200px;
    height: 70px;
    padding: 10px;
    margin-left: 100px;
    text-align: center;
    background-color: aliceblue;
    vertical-align: middle;
  }
  #li1 {
    margin-left: 0px;
  }
}*/

/*MAKING THE DIV STAY AT TOP WHILE SCROLLING:

  either use position:absolute for all subjects and manipulate height like that OR use javascript

*/

.about {
  overflow: hidden;
}

#aboutCol1 {
  background-color: firebrick;
  height: 2500px;
}

.callout {
  background-color: firebrick;
  text-align: center;
  margin-top: 300px;
}

.bottom {
  background-color: firebrick;
  text-align: center;
  margin-top: 1600px;
}

#aboutCol2 {
  background-color: antiquewhite;
  height: 2500px;
}

#projectCol1 {
  background-color: antiquewhite;
  height: 100vh;
}

#projectCol2 {
  background-color: firebrick;
  height: 100vh;
}

#contactCol1 {
  background-color: firebrick;
  height: 100vh;
}

#contactCol2 {
  background-color: antiquewhite;
  height: 100vh;
}